<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="login-body">

    <div class="login-title">Créer un compte</div>

    <form class="login-card" method="POST">

        <input type="text" name="nom" class="input" placeholder="Nom" required>

        <input type="email" name="email" class="input" placeholder="Email" required>

        <input type="password" name="password" class="input" placeholder="Mot de passe" required>

        <select name="role" class="input" required>
            <option value="">Choisir un rôle</option>
            <option value="client">Client</option>
            <option value="chauffeur">Chauffeur</option>
            <option value="admin">Admin</option>
        </select>

        <button class="btn">S'inscrire</button>

        <p>Déjà un compte ? <a href="/login">Se connecter</a></p>

    </form>

</body>
</html>